/* Version Mobile */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
#navbar {
    display: flex;
    justify-content: space-between;
}

#icon {
    margin-left: 30px;
    margin-top: 30px;
}

#list {
    display: flex;
}


#list a {
    list-style: none;
    margin-top: 35px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    

}

/* Front Page */


#frontpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#p1 {
    margin-bottom: 50px;
    color: #858585;
}

#p2 {
    color: #000000;
    font-size: 32px;
    margin-bottom: 50px;
    font-weight: bold;
}

#btn1 {
    background-color: #000000;
    color: #fff;
    height: 32px;
    width: 129px;
    border-radius: 8px;
    border: none;
}

#btn1:hover {
    background-color: #868686
}

#btn1:active {
    background-color: #000000;
}

#btn2 {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    height: 32px;
    width: 129px;
    border-radius: 8px;
    border: solid 1px #000;
}

#img2 {
    margin-top: 40px;
}

/* Socials */

#socials {
    display: flex;
    height: 50px;
    align-items: flex-end;
    justify-content: right;
    flex-direction: column;
    margin-right: 20px;
    margin-top: -30px;
}

#socials img {
    height: 50px;
    width: 32px;
    padding-bottom: 5px;
}

#formtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 30vh;
}

#formtext h3 {
    color: #000;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Abril Fatface', cursive;
}

#formtext p {
    color: #000;
    margin: 0 10px 0 10px;
}

/* Contact Form */

#contactform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
}

/* Nombres de las casillas */

#p11 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

#p22 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

#p3 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

#p4 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Inputs Styles */

#input1 {
    background-color: #000;
    opacity: .6;
    border-radius: 6px;
    border: solid #fff;
    height: 36px;
    width: 288px;
    margin-bottom: 25px;
}

#input2 {
    background-color: #000;
    opacity: .6;
    border-radius: 6px;
    border: solid #fff;
    height: 36px;
    width: 288px;
    margin-bottom: 25px;
}

#input3 {
    background-color: #000;
    opacity: .6;
    border-radius: 6px;
    border: solid #fff;
    height: 36px;
    width: 288px;
    margin-bottom: 25px; 
}

#input4 {
    background-color: #000;
    opacity: .6;
    border-radius: 6px;
    border: solid #fff;
    height: 192px;
    width: 288px;
    margin-bottom: 25px;
}

/* background Image */
#img11 {
    width: 100%;
    height: 100%;
    z-index: -2;
    position:absolute;
    
    object-fit: fill;
}

#img22 {
   width: 100%;
   height: 100%;
   z-index: -1;
   position:absolute;
  
   object-fit: fill;
}

/* btn send */

#btnsend1 {
    width: 288px;
    height: 32px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

#btnsend1:hover {
    background-color: #868686;
}

#btnsend1:active {
    background-color: #000000;
}




@media screen and (max-width:767px) {
    #list a {
        display: none;
    }

    #socials img {
        display: none;
    }

    #img2 {
        width: 60%;
    }
}

@media screen and (min-width: 768px)  {
    #p2 {
        font-size: 56px;
    }

    #img2 {
        width: 50%;
    }

    #input1 {
        width: 464px;
    }

    #phoneemail {
        display: flex;
    }

    #input2,
    #input3 {
        width: 224px;
    }

    #input4 {
        width: 464px;
    }    
}